@use '../utils/variables';

.admin {
    padding: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    // align-items: center;

    h1 {
        font-size: 4rem;
        letter-spacing: -0.2rem;
        // text-align: center;
        align-self: center;
    }

    #logoutBtn {
        align-self: flex-end;
        font-size: 1.5rem;
        letter-spacing: -0.06rem;
        border: none;
        background-color: variables.$dark-color;
        color: variables.$light-color;
        padding: 0.5rem 1rem;
    }

    #logoutButton {
        background-color: variables.$dark-color;
        color: variables.$light-color;
        align-self: flex-end;
        font-size: 1.5rem;
        letter-spacing: -0.06rem;
        border-radius: 0;
    }
}