.Home {
    img {
        height: 75svh;
        object-fit: cover;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Home {
        img {
            height: 80svh;
        }
    }
}