@use '../utils/variables';

.Project {
    width: 100%;
}

.Project > div:not(:nth-child(-n + 2)) {
    margin-top: 20rem;
}

.Project > div:last-child {
    margin-bottom: 10rem;
}

#proj-title {
    display: none;
}

.proj-section {
    min-width: 100%;
    height: 100svh;
}

.sec-1 {
    height: 70svh;
    display: flex;
    overflow-x: auto;
    gap: 0.3rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .sec-1-blurb {
        background-color: variables.$dark-color;
        color: variables.$light-color;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4rem;
            padding: 5rem;
            width: 40rem;
            text-align: center;
        }
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 40rem;
    }
}

.sec-2 {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    
    .sec-2-img {
        grid-column: 1 / span 6;
        grid-row: 1 / span 10;
        height: 100%;
        background-color: rgb(239, 236, 236);
    }
    
    .sec-2-blurb {
        grid-column: 8 / span 3;
        grid-row: 1 / span 9;
        
        h1 {
            font-size: 4rem;
            letter-spacing: -0.2rem;
        }
    }
    
    .sec-2-blurb-img {
        background-color: rgb(239, 236, 236);
        height: 50%;
        width: 100%;
    }
    
    .sec-2-text {
        font-size: 1.5rem;
        width: 70%;
        line-height: 2rem;
        padding-top: 2rem;
    }
}

.sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.sec-4 {
    display: flex;
    justify-content: center;
    height: 50rem;
    img {
        height: 50rem;
        width: 100rem;
        object-fit: cover;
    }
}

.sec-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40svh;

    img {
        width: 100%;
        height: 100%;
        background-color: rgb(239, 236, 236);
        object-fit: cover;
    }
    
    .sec-5-blurb {
        grid-column: 2;
        background-color: variables.$light-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1 {
            width: 63%;
            padding: 0;
            text-align: center;
            font-size: 2.5rem;
        }
    }
}

.sec-6 {
    // height: 50svh;
    height: 60rem;
    display: flex;
    justify-content: center;

    img {
        // width: 50%;
        width: 60rem;
        height: 60rem;
        object-fit: cover;
    }
}

.sec-7 {
    height: 100svh;
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .sec-7-blurb {
        background-color: variables.$dark-color;
        color: variables.$light-color;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4rem;
            width: 50rem;
            padding: 5rem;
            text-align: center;
        }
    }

    img {
        object-fit: cover;
        width: 50rem;
        height: 100%;
    }
}

.prev-next {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 4rem;
    letter-spacing: -0.2rem;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: underline;
            text-decoration-thickness: 0.2rem;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #proj-title {
        display: block;
        font-size: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .proj-section {
        height: 80svh;
    }

    .sec-1 {
        height: 75svh;
        width: 100%;
        gap: 0.1rem;

        .sec-1-blurb {
            display: none;
        }
    }

    .sec-2 {
        .sec-2-img {
            grid-column: 1 / span 10;
            grid-row: 6 / 10;
        }

        .sec-2-blurb {
            grid-column: 1 / span 10;
            grid-row: 1 / 5;
            display: flex;

            h1 {
                writing-mode: vertical-lr;
                margin: 0;
                padding-right: 4rem;
                rotate: 180deg;
                text-align: right;
                font-size: 3.5rem;
            }
            
            .sec-2-text {
                display: none;
            }

            .sec-2-blurb-img {
                height: 100%;
            }
        }

    }

    .sec-3, .sec-4, .sec-5, .sec-6, .sec-7 {
        display: none;
    }

    .Project > div:not(:nth-child(-n + 2)) {
        margin-top: 10rem;
    }

    .Project > div:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prev-next {
        font-size: 3.5rem;
    }
}