.Breadcrumb {
    background-color: var(--light);
    font-size: 2.5rem;
    letter-spacing: -0.06em;
    padding-left: 2rem;
    display: flex;
    gap: 1rem;
    
    a {
        color: var(--dark);
        text-decoration: none;

        &:hover {
            color: inherit;
        }
    }

    .nav-crumb {
        display: flex;
        gap: 1rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Breadcrumb {
        display: none;
    }
}