@use '../utils/variables';

#DropdownNav {
    background-color: variables.$light-color;
    color: variables.$dark-color;
    position: fixed;
    top: -100px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    padding-left: 2rem;
    font-family: 'Work Sans', sans-serif;
    
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 2.5rem;
        letter-spacing: -0.06em;
        color: inherit;
    }
}

.nav-breadcrumb {
    display: flex;
    gap: 1rem;

    p {
        font-size: 2.3rem;
        margin: 0;
    }

    .nav-crumb {
        display: flex;
        gap: 1rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #DropdownNav {
        display: none;
    }
}