.Footer {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: flex-end;
    letter-spacing: -0.06em;
    color: var(--dark);
    /* background-color: red; */
    gap: 4rem;
    background-color: var(--light);
}

.Footer img {
    object-fit: cover;
    width: 4rem;
    padding-bottom: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    line-height: 2.2rem;
    /* background-color: blue; */
    height: 50%;
    /* padding-bottom: 20rem; */
}

.Footer a {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--dark);
}

.Footer a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Footer a.active {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Footer p {
    font-size: 1.2rem;
    margin-bottom: 0;
}